<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JRunUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JRunUI.Properties.Settings>
            <setting name="ShortcutWindowWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShortcutWindowHeight" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ShortcutWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShortcutWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BackColorString" serializeAs="String">
                <value>#99004488</value>
            </setting>
            <setting name="BorderColorString" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TextColorString" serializeAs="String">
                <value>#FFFFAA00</value>
            </setting>
            <setting name="ErrorColorString" serializeAs="String">
                <value>#FFFF0000</value>
            </setting>
            <setting name="TextBackColorString" serializeAs="String">
                <value>#99000000</value>
            </setting>
            <setting name="XmlFile" serializeAs="String">
                <value>Shortcuts.xml</value>
            </setting>
            <setting name="ProfileName" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfileSelector" serializeAs="String">
                <value />
            </setting>
            <setting name="HotKeyString" serializeAs="String">
                <value>Alt + Space</value>
            </setting>
            <setting name="bStartWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
        </JRunUI.Properties.Settings>
    </userSettings>
</configuration>